atomic_configuration:
  molar_fraction_total:
    Au: 0.5
    Pt: 0.5
  simulation_cells:
    fcc1:
      incar: C:\Users\eugen\repos\pymatmc2\tests\resource\AgPt\input\fcc1\INCAR
      kpoints: C:\Users\eugen\repos\pymatmc2\tests\resource\AgPt\input\fcc1\KPOINTS
      poscar: C:\Users\eugen\repos\pymatmc2\tests\resource\AgPt\input\fcc1\POSCAR
    fcc2:
      incar: C:\Users\eugen\repos\pymatmc2\tests\resource\AgPt\input\fcc1\INCAR
      kpoints: C:\Users\eugen\repos\pymatmc2\tests\resource\AgPt\input\fcc1\KPOINTS
      poscar: C:\Users\eugen\repos\pymatmc2\tests\resource\AgPt\input\fcc1\POSCAR
calculator:
  calculator: vasp
  simulation_type: vasp_min_all
environment_variables:
  pressure: 0.0
  temperature: 400.0
hpc_manager:
  configuration:
    account: PAA0028
    cmd: mpiexec $VASP_STD_BIN > vasp.out
    errpath: job.err
    jobname: Si_job_name
    modules:
    - intel/19.0.5
    - intelmpi/2019.3
    n_nodes: 4
    ppn: 40
    stdpath: job.out
    walltime: 1
  type: torque
job_submission:
  hpc_config_path: osc.pitzer
  hpc_type: torque
max_iterations: 10
mutation_weights:
  intraphase_flip: 0.5
  intraphase_swap: 0.5
