atomic_configuration:
  molar_fraction_total:
    Au: 24
    Pt: 8
  simulation_cells:
    fcc1:
      incar: resources\INCAR_1
      kpoints: resources\KPOINTS_1
      poscar: resources\POSCAR_1
      potcar: resources\POTCAR
    fcc2:
      incar: resources\INCAR_2
      kpoints: resources\KPOINTS_2
      poscar: resources\POSCAR_2
      potcar: resources\POTCAR
calculator:
  calculator: vasp
  simulation_type: vasp_min_all
environment_variables:
  pressure: 0.0
  temperature: 400.0
job_submission:
  hpc_config_path: osc.pitzer
  hpc_type: torque
