atomic_configuration:
  molar_fraction_total:
    Au: .60
    Pt: .40
  simulation_cells:
    fcc1:
      incar: resource\INCAR_1
      kpoints: resource\KPOINTS_1
      poscar: resource\POSCAR_1
      potcar: resource\POTCAR
    fcc2:
      incar: resource\INCAR_2
      kpoints: resource\KPOINTS_2
      poscar: resource\POSCAR_2
      potcar: resource\POTCAR
calculator:
  calculator: vasp
  simulation_type: vasp_min_all
environment_variables:
  pressure: 0.0
  temperature: 400.0
job_submission:
  hpc_config_path: osc.pitzer
  hpc_type: torque
