atomic_configuration:
  molar_fraction_total:
    Au: 8
    Pt: 24
  simulation_cells:
    fcc1:
      incar: input\INCAR_1
      kpoints: input\KPOINTS_1
      poscar: input\POSCAR_1
      potcar: input\POTCAR
    fcc2:
      incar: input\INCAR_2
      kpoints: input\KPOINTS_2
      poscar: input\POSCAR_2
      potcar: input\POTCAR
calculator:
  calculator_type: vasp
  simulation_type: vasp_min_all
environment_variables:
  pressure: 0.0
  temperature: 400.0
job_submission:
  hpc_config_path: osc.pitzer
  hpc_type: torque
