atomic_configuration:
  simulation_cells:
    bcc1:
      incar: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\bcc1\INCAR
      kpoints: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\bcc1\KPOINTS
      poscar: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\bcc1\POSCAR
      potcar: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\fcc1\POTCAR
    bcc2:
      incar: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\bcc2\INCAR
      kpoints: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\bcc2\KPOINTS
      poscar: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\bcc2\POSCAR
      potcar: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\bcc2\POTCAR
    bcc3:
      incar: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\bcc3\INCAR
      kpoints: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\bcc3\KPOINTS
      poscar: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\bcc3\POSCAR
      potcar: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\bcc3\POTCAR
    bcc4:
      incar: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\bcc4\INCAR
      kpoints: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\bcc4\KPOINTS
      poscar: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\bcc4\POSCAR
      potcar: C:\Users\eugen\repos\pymatmc2\tests\unittests\test__create_random_cell_bcc\bcc4\POTCAR
  total_concentration:
    Hf: 0.25
    Nb: 0.25
    Ta: 0.25
    Zr: 0.25
calculator:
  calculator: vasp
  simulation_type: vasp_min_all
environment_variables:
  pressure: 0.0
  temperature: 800.0
hpc_manager:
  configuration:
    account: PAA0028
    cmd: mpiexec $VASP_STD_BIN > vasp.out
    errpath: job.err
    jobname: Si_job_name
    modules:
    - intel/19.0.5
    - intelmpi/2019.3
    n_nodes: 4
    ppn: 40
    stdpath: job.out
    walltime: 1
  type: torque
job_submission:
  hpc_config_path: osc.pitzer
  hpc_type: torque
max_iterations: 1000
mutation_weights:
  intraphase_flip: 1.0
results:
  dir: results
  file_path: pymatmc2.results
  tar_path: pymatmc2.results.tar
