atomic_configuration:
  simulation_cells:
    fcc1:
      incar: /users/PAA0028/eragasa/work/mc2_AuPt/resources/fcc1/INCAR
      kpoints: /users/PAA0028/eragasa/work/mc2_AuPt/resources/fcc1/KPOINTS
      poscar: /users/PAA0028/eragasa/work/mc2_AuPt/resources/fcc1/POSCAR
      potcar: /users/PAA0028/eragasa/work/mc2_AuPt/resources/fcc1/POTCAR
    fcc2:
      incar: /users/PAA0028/eragasa/work/mc2_AuPt/resources/fcc2/INCAR
      kpoints: /users/PAA0028/eragasa/work/mc2_AuPt/resources/fcc2/KPOINTS
      poscar: /users/PAA0028/eragasa/work/mc2_AuPt/resources/fcc2/POSCAR
      potcar: /users/PAA0028/eragasa/work/mc2_AuPt/resources/fcc2/POTCAR
  total_concentration:
    Au: 0.5
    Pt: 0.5
calculator:
  calculator: vasp
  simulation_type: vasp_min_all
environment_variables:
  pressure: 0.0
  temperature: 800.0
hpc_manager:
  configuration:
    account: PAA0028
    cmd: mpiexec $VASP_STD_BIN > vasp.out
    errpath: job.err
    jobname: Si_job_name
    modules:
    - intel/19.0.5
    - intelmpi/2019.3
    n_nodes: 4
    ppn: 40
    stdpath: job.out
    walltime: 1
  type: torque
job_submission:
  hpc_config_path: osc.pitzer
  hpc_type: torque
max_iterations: 1000
mutation_weights:
  intraphase_flip: 1.0
results:
  dir: results
  file_path: pymatmc2.results
  tar_path: pymatmc2.results.tar
